/* ukceh_style.css */

  .remark-slide-content { 
    background-color: rgb(255, 255, 255);
    border-top: 80px solid rgb(32, 109, 125);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    padding: 1em 2em 1em 2em }
  
  .inverse {
    background-color: rgb(32, 109, 125);
   text-shadow: none;
  }
  
  .title-slide .inverse .remark-slide-content {
  background-color: rgb(255, 255, 255);
  }

  .title-slide {
  background-color: rgb(255, 255, 255);
  border-top: 80px solid rgb(255, 255, 255);
  }
  
  /* Removes colored bar from top of the slide resulting in a clear slide */
  .clear{
    border-top: 0px solid rgb(255, 255, 255);
  }
  
  hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: rgb(75, 148, 164);
  color: rgb(75, 148, 164);
  height: 2px;
  width: 90%;
  }
  
  .title-slide h2::after {
  margin: 10px 15px 35px 0;
  }

  .title-slide h3::after {
  margin: 10px 15px 20px 0;
  }
  .title-slide h1  {
    color: rgb(32, 109, 125);
    font-size: 40px;
    text-shadow: none;
    font-weight: 500;
    text-align: left;
    margin-left: 15px;
    padding-top: 60px;
  }
  .title-slide h2  {
    margin-top: -25px;
    padding-bottom: -20px;
    color: rgb(7, 80, 92);
    text-shadow: none;
    font-weight: 300;
    font-size: 35px;
    text-align: left;
    margin-left: 15px;
  }

  .title-slide h3  {
    color: rgb(75, 85, 87);
    text-shadow: none;
    font-weight: 200;
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: -30px;
  }

  a, a > code {
    color: rgb(0, 132, 161); /*default: rgb(249, 38, 114); || sets color of links */
    text-decoration: none; /* turns off background coloring of links */
    font-weight: 400;
  }
